// Override this file to add your own SCSS styling.

.article-container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.pub-row-heading {
  font-weight: bold;
}

.article-style {
  overflow-x: hidden;
}
