{{/* Generate links for publications */}}
{{ $ := .content }}
{{ $is_card := .is_card }}

{{/* Get link settings */}}
{{ $site := site }}
{{ $link_icons := site.Params.icon.pack }}

{{/* Show links */}}
{{ range $link := $.Params.links }}
  {{ if $link.url }}
    <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ $link.url }}" target="_blank" rel="noopener">
      {{ if $link.icon }}
        <i class="{{ $link.icon }} mr-1"></i>
      {{ end }}
      {{ $link.name | default "Custom Link" }}
    </a>
  {{ end }}
{{ end }}

{{/* DOI link */}}
{{ with $.Params.doi }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="https://doi.org/{{ . }}" target="_blank" rel="noopener">
    DOI
  </a>
{{ end }}

{{/* Generate automatic links for different versions of the publication */}}
{{ $pdf := "" }}
{{ $url_pdf := $.Params.url_pdf }}
{{ if $url_pdf }}
  {{ $pdf = $url_pdf }}
{{ end }}

{{ with $pdf }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ . }}" target="_blank" rel="noopener">
    PDF
  </a>
{{ end }}

{{ $resource := $.Resources.GetMatch "cite.bib" }}
{{ with $resource }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ .RelPermalink }}" target="_blank" rel="noopener">
    {{ i18n "btn_cite" }}
  </a>
{{ end }}

{{ with $.Params.url_code }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ . }}" target="_blank" rel="noopener">
    {{ i18n "btn_code" | default "Code" }}
  </a>
{{ end }}

{{ with $.Params.url_dataset }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ . }}" target="_blank" rel="noopener">
    {{ i18n "btn_dataset" | default "Dataset" }}
  </a>
{{ end }}

{{ with $.Params.url_poster }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ . }}" target="_blank" rel="noopener">
    {{ i18n "btn_poster" | default "Poster" }}
  </a>
{{ end }}

{{ with $.Params.url_slides }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ . }}" target="_blank" rel="noopener">
    {{ i18n "btn_slides" | default "Slides" }}
  </a>
{{ end }}

{{ with $.Params.url_source }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ . }}" target="_blank" rel="noopener">
    {{ i18n "btn_source" | default "Source Document" }}
  </a>
{{ end }}

{{ with $.Params.url_video }}
  <a class="btn btn-outline-primary btn-page-header{{ if $is_card }} btn-sm{{end}}" href="{{ . }}" target="_blank" rel="noopener">
    {{ i18n "btn_video" | default "Video" }}
  </a>
{{ end }}
